public/**
src/assets/**
src/components/**
src/config/**
src/containers/**
src/lib/**
src/modules/**
src/scss/**
src/store/**
src/utils/**
src/_nav.js
src/Application.js
src/appRoutes.js
src/aws-exports.js
src/index.js
src/Interceptor.js
src/Router.js
src/serviceWorker.js
src/setupProxy.js
*.json
Dockerfile
*.scss
*.sh
*.lock
.eslintrc.js