.comment-drawer {
    margin-top: 5%;
}

.comment-btn{
    margin-left: 2%;
    background: #b9f45acc;
    border-color: #00ff14;
    position: relative;
    left: 25%
}

.history-btn{
    margin-left: 2%;
    background: #b6f2ec;
    border-color: aqua;
    position: relative;
    left: 25%
}
