.developer-setting-alert-width {
    width: 520px;
}

.developer-setting-expiry-token-alert-width{
    width: 670px;
}

.developer-setting-button-size {
    width: 10px;
    height: 25px ;
    padding-top: 1px;
    padding-right: 25px;
}

.developer-setting-main-alert-width{
    width: 560px;
}

.developer-setting-button-copy-size{
    width: 10px;
    height: 25px ;
    padding-top: 1px;
    padding-right: 25px;
    margin-left: 99px;
}


